<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 추가</title>
    <!-- 부트스트랩 CDN 링크 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 커스텀 스타일 시트 링크 추가 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>댓글 추가</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.nickname.label_tag }}
                {{ form.nickname }}
            </div>
            <!-- 패스워드 입력 필드 추가 -->
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">저장</button>
        </form>
    </div>
</body>
</html>